body,html {
    overflow: hidden;
    }

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #222222;
}

#mainWrap {
    width: 50vw;
    height: 50vh;
    margin: 25vh auto;
    background-color: darkmagenta;
    position: relative;
}

.lemon {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(254, 241, 128);
    border-radius: 35px;
    animation: lemonMove 2s infinite ease-in-out;
}

.melon {
    width: 20px;
    height: 30px;
    background-color: lightseagreen;
    animation: melonMove 4s infinite linear;
}

.drop {
    position: fixed;
    width: 150px;
    height: 150px;
    background-color: lightskyblue;
    border-radius: 75px;
    animation: dropMove 8s infinite ease-in-out;
}

.rain {
    width: 20vw;
    height: 100%;
    background-color: #222222;
    position: fixed;
    top: 0;
    left: 40vw;
    animation: rainMove 16s infinite ease-in-out;
    z-index: 99;
}

.woodStick {
    width: 4px;
    height: 60vw;
    background-color: #222222;
    margin-left: 20px;
    float: left;
    animation: woodstickMove 4s infinite;
}

#woodBox {
    width: 60vw;
    height: 60vw;
    background-color: rgb(244, 135, 96);
    opacity: 0.7;
    animation: woodMove 6s infinite;
    overflow: hidden;
    max-width: 60vh;
    max-height: 60vh;
    position: absolute;
    top: 10vh;
}

.circle {
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    background-color: whitesmoke;
    position: absolute;
    top: -20vw;
    left: -20vw;
    z-index: -1;
    animation: circleMove 12s infinite;
}

.rotateNinety {
    transform: rotate(90deg);
    position: absolute;
    left: 45%;
}

.delayABit {
    animation-delay: 1800ms;
    filter: hue-rotate(-60deg);
}

.secoundFruit {
    transform: skew(45deg) translateX(40px) translateY(-20px);
    transition-delay: 500ms;
    opacity: 0.5;
    margin: 50px;
    animation-duration: 8s;
    filter: blur(1px);
}

.third {
    background-color: tomato;
    transform: translateY(40px);
    animation-duration: 16s;
    animation-delay: 1s;
    opacity: 0.8;
}

.bottom {
    position: absolute;
    background-color: seagreen;
    bottom:0;
    height: 40px;
    animation-duration: 8s;
    filter: drop-shadow(0 -10px 0 tomato);
    max-width: 50vw;
}

@keyframes lemonMove {
    0%   {height: 0%;
        width: 50px;
        left: 0;
        top: 0;
}
    25%  {height: 50%;
        width: 20px;
        left: 30%;
        top: 30%;
    }
    50%  {height: 100%;
        width: 70px;
        left: 80%;
        top: 10%;
}
    75%  {height: 50%;
        width: 40px;
        left: 30%;
        top: 50%;
}
    100% {height: 0%;
        width: 50px;
        left: 0;
        top: 0;
    }
  }

@keyframes melonMove {
    0% {
        width: 30%;
    }
    40% {
        width: 100%;
    }
    50% {
        width: 70%;
    }
    75% {
        width: 120%;
    }
    100% {
        width: 30%;
    }
}

@keyframes dropMove {
    0% {
        transform: scale(0);
        top: 10%;
        left: 10%;
    }
    25% {
        transform: scale(1);
        top: 50%;
        left: 50%;
    }
    50% {
        transform: scale(0.6);
        top: 10%;
        left: 70%;
    }
    100% {
        transform: scale(0);
        top: 90%;
        left: 20%;
    }
}

@keyframes secoundMove {
    0% {
        transform: scaleX(100%);
        transform: scaleX(100%) scaleY(20%);
        transform: rotate(0deg);
    }
    50% {
        transform: scaleX(50%);
        transform: scaleX(20%) scaleY(100%);
        transform: rotate(20deg);
    }
    100% {
        transform: scaleX(100%);
        transform: scaleX(100%) scaleY(20%);
        transform: rotate(0deg);
    }
}

@keyframes woodstickMove {
    0% {
        filter: drop-shadow(0);
    }
    40% {
        filter: drop-shadow(8px 8px 0px tomato);
    }
    70% {
        filter: drop-shadow(-8px 10px 0px tomato);
    }
    85% {
        filter: drop-shadow(20px -10px 0px  tomato);
    }
    100% {
        filter: drop-shadow(0);
    }
}

@keyframes woodMove {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes circleMove{
    0% {
        transform: scale(0);
    }
    25% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    80% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes rainMove{
    0% {
        height: 0;
        top: 0;
    }
    60% {
        height: 0;
        top: 0;
    }
    75% {
        height: 100%;
        top: 90%;
    }
    80% {
        height: 100%;
        top: 90%;
    }
    100% {
        height: 0;
        top: 0;
    }
}
