body,html {    overflow: hidden;    }

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #222222;
}

#mainWrap {
    width: 50vw;
    height: 50vh;
    margin: 25vh auto;
    background-color: darkmagenta;
    position: relative;
}

.lemon {
    position: absolute;
    width: 50px;
    height: 100%;
    background-color: rgb(254, 241, 128);
    border-radius: 35px;
}

.melon {
    height: 30px;
    width: 30%;
    background-color: lightseagreen;
}

.drop {
    position: fixed;
    width: 150px;
    height: 150px;
    background-color: lightskyblue;
    border-radius: 75px;
    top: 50%;
    left: 50%;
    z-index: 98;
}

.woodStick {
    width: 4px;
    height: 60vw;
    background-color: #222222;
    margin-left: 20px;
    float: left;
}

#woodBox {
    width: 60vw;
    height: 60vw;
    background-color: rgb(244, 135, 96);
    opacity: 0.7;
    overflow: hidden;
    max-width: 60vh;
    max-height: 60vh;
    position: absolute;
    top: 10vh;
}

.circle {
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    background-color: whitesmoke;
    position: absolute;
    top: -20vw;
    left: -20vw;
    z-index: -1;
}

.rain, .startBtn {
    width: 20vw;
    background-color: #222222;
    position: fixed;
    top: 0;
    left: 40vw;
    z-index: 200;
}

.startBtn img, #header img {
    width: 60px;
    height: 60px;
    display: block;
    cursor: pointer;
}

.startBtn img {
    margin: 45vh auto;
}

.startBtn img:hover, #header img:hover {
    opacity: 0.5;
    transition-duration: 500ms;
}

#header {
    height: 80px;
    width: 100%;
    background: #222222;
    position: fixed;
    top: -85px;
    z-index: 1000;
    border-bottom: solid 2px whitesmoke;
    transition-duration: 200ms;
}

#header img {
    margin: 10px;
}

#albumCover, #header p {
    float: left;
}

#pauseTrack {
    float: right;
}

#header p {
    margin: 20px 10px;
    color: whitesmoke;
    font-family: monospace;
    font-size: 1.2em;
    line-height: 1.3em;
}

/****** Applying animation ******/

.lemonMove {    animation: lemonMove 1840ms infinite ease-in-out;}
.melonMove {    animation: melonMove 1380ms infinite ease-in-out;}
.dropMove {    animation: dropMove 8280ms infinite ease-in-out;}
.woodStickMove {    animation: woodstickMove 4140s infinite;}
.woodBoxMove {    animation: woodMove 5520ms infinite ease-in-out;}
.circleMove {    animation: circleMove 11040ms infinite;}
.rainMove {    animation: rainMove 16560ms infinite ease-in-out;}

/****** Global Additions ******/

.secoundFruit {
    transform: skew(45deg) translateX(40px) translateY(-20px);
    opacity: 0.5;
    margin: 50px;
    animation-duration: 8280ms;
    animation-delay: 920ms;
    filter: blur(1px);
}

.rotateNinety {
    transform: rotate(90deg);
    position: absolute;
    left: 25%;
    animation-delay: 920ms;
}

.delayABit {
    animation-delay: 920ms;
    filter: hue-rotate(-40deg);
    animation-direction: reverse;
}

.third {
    background-color: tomato;
    transform: translateY(40px);
    animation-duration: 16s;
    animation-delay: 1840ms;
    opacity: 0.8;
}

.bottom {
    position: absolute;
    background-color: seagreen;
    bottom:0;
    height: 40px;
    animation-duration: 8s;
    filter: drop-shadow(0 -10px 0 tomato);
    max-width: 50vw;
}

@keyframes lemonMove {
    0%   {height: 0%;
        width: 50px;
        left: 0;
        top: 0;
}
    25%  {height: 50%;
        width: 20px;
        left: 30%;
        top: 30%;
    }
    50%  {height: 100%;
        width: 70px;
        left: 80%;
        top: 10%;
}
    75%  {height: 50%;
        width: 40px;
        left: 30%;
        top: 50%;
}
    100% {height: 0%;
        width: 50px;
        left: 0;
        top: 0;
    }
  }

@keyframes melonMove {
    0% { width: 30%;}
    25% { width: 100%;}
    50% { width: 70%;}
    75% { width: 120%;}
    100% { width: 30%;}
}

@keyframes dropMove {
    0%, 100% {
        transform: scale(1);
        top: 50%;
        left: 50%;
    }
    25% {
        transform: scale(0.6);
        top: 10%;
        left: 70%;
    }
    60% {
        transform: scale(0);
        top: 90%;
        left: 20%;
    }
    75% {
        transform: scale(0);
        top: 10%;
        left: 10%;
    }
}

@keyframes secoundMove {
    0% {
        transform: scaleX(100%);
        transform: scaleX(100%) scaleY(20%);
        transform: rotate(0deg);
    }
    50% {
        transform: scaleX(50%);
        transform: scaleX(20%) scaleY(100%);
        transform: rotate(20deg);
    }
    100% {
        transform: scaleX(100%);
        transform: scaleX(100%) scaleY(20%);
        transform: rotate(0deg);
    }
}

@keyframes woodstickMove {
    0% { filter: drop-shadow(0);}
    40% { filter: drop-shadow(8px 8px 0px tomato);}
    70% { filter: drop-shadow(-8px 10px 0px tomato);}
    85% { filter: drop-shadow(20px -10px 0px  tomato);}
    100% { filter: drop-shadow(0);}
}

@keyframes woodMove {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(0deg);}
    50% { transform: rotate(180deg);}
    100% { transform: rotate(360deg);}
}

@keyframes circleMove{
    0%, 25% {transform: scale(0);}
    50% {transform: scale(1);}
    75%, 100% {transform: scale(0);}
}

@keyframes rainMove{
    0%, 60% {
        height: 0;
        top: 0;
    }
    75%, 80% {
        height: 100%;
        top: 95%;
    }
    100% {
        height: 0;
        top: 0;
    }
}

/* explosion container */

.explosion {
  position: fixed; /* required if positioned on click else 'relative' */
  width: 100%;
  height: 100%;
  z-index: -999;
  pointer-events: none; /* make it clickable trhough */
}
  /* particle styling */
  .particle {
    position: absolute; /* required  */
    width: 30px;
    height: 30px;
    opacity: 0.6;
    z-index: 300;
    border-radius: 50%;
    animation: pop 960ms reverse forwards; /* required */
  }

/* animation for particle fly away from the cursor */
@keyframes pop {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0.6;
  }  
  100% {
    top: 50%;
    left: 50%;
    opacity: 0.6;
  }
}
