
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:ital,wght@1,700&display=swap');

html, body {
    background-color: rgb(206, 206, 198);
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
  }

  canvas {
    z-index: 100;
    position: fixed;
    top: 0;
    pointer-events: none;
  }

  #floor {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    position: relative;
  }
  #GroundImg {
    width: 1000px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @media only screen and (max-width: 1000px) {
    #GroundImg {
      width: 100vw;
      height: 40vw;
  }
}

  #topPanel, #topPanelContent{
    height: 80px;
    width: 100%;
    position: fixed;
    top: -100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 300ms;
  }

  #topPanelContent {
    z-index: 900;
  }
  #topPanel {
    z-index: 0;
  }

  .infoBtn {
    height: 50px;
    width: fit-content;
    margin: 0 20px;
    /* background-color: rgb(224, 224, 216); */
    position: relative;
    display: flex;
    color: rgb(224, 224, 216);
    cursor: pointer;
  }
  .infoBtn img {
    height: 50px;
    width: 50px;
  }
  .infoBtn:hover {
    opacity: 0.5;
    transition-duration: 300ms;
  }

  #bottomPanel {
    height: 150px;
    width: 100%;
    position: fixed;
    bottom: -150px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 700;
    transition-duration: 300ms;
    color: rgb(224, 224, 216);
  }
  #prevIssue, #nextIssue {
    width: calc((100% - 800px)/2);
    height: 100%;
    margin: 0;
    position: absolute;
  }
  #prevIssue {
    left: 0;
  }
  #prevIssue img {
    right: 10px;
  }
  #nextIssue {
    right: 0;
  }
  #nextIssue img {
    left: 10px;
  }
  #thisIssue {
    text-align: center;
    width: 800px;
    max-width: 100%;
  }
  #issueH1 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    margin: 0 auto 10px auto;
    width: 700px;
    max-width: 80%;
  }
  #issueP {
    width: 700px;
    margin: 0 auto;
    max-width: 80%;
  }
  img.arrows {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  img.arrows:hover {
    opacity: 0.5;
    transition-duration: 300ms;
  }

  @media only screen and (max-width: 600px){
    #topPanel, #topPanelContent{
      height: 150px;
      display: block;
      top: -150px;
    }
    #topPanel {
      z-index: 750;
    }
    .infoBtn {
      width: 100%;
      margin: 0;
      padding-left: 10px;
      border-bottom: rgb(224, 224, 216) 1px solid;
    }
    #voicesBtn {
      border-bottom: none;
    }
    #bottomPanel {
      display: block;
      height: calc(100% - 180px);
      bottom: calc(-(100% - 180px));
      opacity: 0;
    }
    #prevIssue, #nextIssue {
      width: 50%;
      height: 50px;
      margin: 0;
      display: inline-block;
      z-index: 800;
  }
  #thisIssue {
    position: absolute;
  }
  #issueH1 {
    margin: 100px auto 10px auto;
  }
}


  /** spinner **/
	.loadingSpinner {
		position: relative;
		width: 80px;
		height: 80px;
		margin: 40vh auto;
  }
  @keyframes loadingSpinnerAnimation {
		0%, 100% { opacity: 1;}
		50% { opacity: 0.5;}
	}
	.loadingSpinner div {
		position: absolute;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: #222;
		animation: loadingSpinnerAnimation 1.2s linear infinite;
	}
	.loadingSpinner div:nth-child(1) {
		top: 8px;
		left: 8px;
		animation-delay: 0s;
	}
	.loadingSpinner div:nth-child(2) {
		background-color: #DA2C5E;
		top: 8px;
		left: 32px;
		animation-delay: -0.4s;
	}
	.loadingSpinner div:nth-child(3) {
		top: 8px;
		left: 56px;
		animation-delay: -0.8s;
	}
	.loadingSpinner div:nth-child(4) {
		background-color: #DA2C5E;
		top: 32px;
		left: 8px;
		animation-delay: -0.4s;
	}
	.loadingSpinner div:nth-child(5) {
		top: 32px;
		left: 32px;
		animation-delay: -0.8s;
	}
	.loadingSpinner div:nth-child(6) {
		background-color: #DA2C5E;
		top: 32px;
		left: 56px;
		animation-delay: -1.2s;
	}
	.loadingSpinner div:nth-child(7) {
		top: 56px;
		left: 8px;
		animation-delay: -0.8s;
	}
	.loadingSpinner div:nth-child(8) {
		background-color: #DA2C5E;
		top: 56px;
		left: 32px;
		animation-delay: -1.2s;
	}
	.loadingSpinner div:nth-child(9) {
		top: 56px;
		left: 56px;
		animation-delay: -1.6s;
	}

/** modal **/

	#modalBG {
		position: fixed;
		background: rgba(224, 224, 216, 0.9);
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		z-index: 9999;
	}